*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
  background-color: #cae3eb;
}


.navbar {
  background-color: honeydew;
  text-align:right;
  font-family: sans-serif;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul {
  display: flex;
}


.navbar ul li a {
  display: block;
  border: 300px solid;
  border-radius: .5em;
  padding: .5em 1em;
  margin: 20em;

}

.navbar ul {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}

.logo {
  list-style-type: none;
  background-image: url("https://image.flaticon.com/icons/png/512/4864/4864194.png;");
  background-repeat: no-repeat;
  background-position:center;
  padding: .5em 0 1.5em 1.5em;
  margin-left: 1em;
    
 }
.logo {
   width: min-content;
   height:100%;
  

}


.logo  {
    width: 0px;
    height: 0px;
    padding-bottom: 0px;
    border: 0px;
    margin: 0%;
    

}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 70%;
    text-align: right;
    font-size: 16x;
    display: inline;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;

}

.actions a{
    color: rgb(0, 45, 128);
    font-size: 50px;
}

.futuro {

  font-size: xx-large;
  font-family: sans-serif;
  color: brown;
}

h1 {
    
    height: 200px;
    padding: 40px;
    border: 5px rgb(0, 118, 197);
    margin: 10px;
    font: size 40px; 
    color: #284070;
}

p {
    color: #f7f7f7fd;
    font-family: verdana;
    
}

button {
    font-size: 20px;
    color: #fff;
    background-color: #025157;
}

.actions button {
    color: white;
    background-color: grey;
    text-align: center;
    padding-left: 24x;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 0;
    border-radius: 65px;
    align-items: flex-end;
}
.actions {
   width: 15%;
   text-align: right;
   font-size: 18px;
   font-weight: 600; 
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  line-height: 45px;
  font-family: sans-serif;
}
li {
    display: inline;
    margin: 2ex;
    border: 2ex;
   
}

.header > * {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  height: 100%;
  line-height: 15px;
  }
    
.artice {
    font-size: 30px;
}


  
  .publicidad h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 50px;
  }
  
  .publicidad > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    margin: 50px;
  }
  
  .publicidad > form {
    display: flex;
  }
  
  .publicidad > form p {
    color: #025157;
    margin-right: 18px;
    margin: 50px;
  }
  
  .promo {
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;


  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  main {
    margin-top: 885px;
    text-align: center;
  }

 

    .success-stories {
      background-color: #37ffa1;
      padding: 5% 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }  
    
    .success-stories .overview {
      flex: 2;
      padding-right: 100px;
    }
    
    .success-stories .overview h2 {
      font-family: "Alegreya", serif;
      font-size: 51px;
      line-height: 61px;
      color: #025157;
    }
    
    .success-stories .overview p {
      color: #343434;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    
    .success-stories .overview button {
      font-size: 14px;
      padding: 12px 12px 6px 12px;
      border-radius: 8px;
      height: 45px;
      font-weight: 600;
      margin-left: 0;
    }
    
    .success-stories .overview img {
      width: 500px;
      max-width: 100%;
    }
    
    .success-stories .stories-carousel {
      flex: 1;
    }
    
    .success-stories .stories-carousel .carousel-indicators {
      position: unset;
    }
    
    .success-stories .stories-carousel .card {
      max-width: 370px;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media img {
      width: 100%;
      max-height: 16vw;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media figure {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-media {
      position: relative;
    }
    
    .success-stories .stories-carousel .card .card-media .company {
      position: absolute;
      bottom: -20px;
      right: 20px;
      width: 100px;
      height: 100px;
      background-color: #f9da73;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .success-stories .stories-carousel .card .card-media .company img {
      max-width: 75%;
    }
    
    .success-stories .stories-carousel .card .card-body,
    .success-stories .stories-carousel .card .card-footer {
      padding: 25px;
    }
    
    .success-stories .stories-carousel .card .card-body h4 {
      color: #025157;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }
    
    .success-stories .stories-carousel .card .card-body h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results {
      display: flex;
      align-items: center;
      color: #ffffff;
    }
    
    .success-stories .stories-carousel .card .card-body .results img {
      width: 26px;
      margin-right: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results p {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-footer {
      margin-bottom: 20px;
      background-color: unset;
      border-top: unset;
    }
    
    .success-stories .stories-carousel .card .card-footer button {
      display: block;
      margin-left: 0;
      border-radius: 5px;
      font-size: 13;
      font-weight: 600;
      padding: 12px 20px;
      width: 100%;
    }

    .success-stories {
      flex-direction: column;
      padding: 5% 15px;
    }
  
    .success-stories > .overview {
      padding-right: unset;
    }
  
    .success-stories .stories-carousel .card {
      min-height: 832px;
    }
  
    .success-stories .stories-carousel .card .card-media img {
      max-height: unset;
    }