*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

.logo {
   width: min-content;
   height:100%;
   

}

.logo  {
    width: 20px;
    height: 10px;
    padding-bottom: 500px;
    border: 1px;
    margin: 0%;
}
.navbar {
    width: 1000px;
    height: 300px;
    padding: 40px;
    border: 5px rgb(0, 118, 197);
    margin: 10px;
    text-align: center;
    color: goldenrod;
    font-weight: 500;
    line-height: 45px;
    font-family: sans-serif;

    

}
.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 16x;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;
}

.actions a{
    color: rgb(0, 45, 128);
    font-size: 50px;
}

body {
    background-color: #a0a0af;
}

h1 {
    width: 1000px;
    height: 300px;
    padding: 40px;
    border: 5px rgb(0, 118, 197);
    margin: 10px;
    font: size 400px; 
    color: #46484c;
    text-align: center;
    
}

p {
    color: #8b8b8bcc;
    font-family: verdana;
    
}

button {
    font-size: 20px;
    color: #fff;
    background-color: #025157;
}

.actions button {
    color: white;
    background-color: grey;
    text-align: center;
    padding-left: 24x;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 0;
    border-radius: 65px;
}
.actions {
   width: 15%;
   text-align: right;
   font-size: 18px;
   font-weight: 600; 
}

.header {
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 0;
    line-height: 45px;
    font-family: sans-serif;
}

li {
    display: inline;
}

.header > * {
    display: inline-block;
    font-size: 36px;
    vertical-align: middle;
    height: 100%;
    line-height: 15px;
    }
.artice {
    font-size: 30px;
}