body {
  background-color: #cae3eb;
  background-image: url(https://blog.silabuz.com/wp-content/uploads/2020/08/339827-PAEAQ1-592.png);
}

h1 {
    
  
  color: #284070;
  text-align: center;
}

p {
  color: #f7f7f7fd;
  font-family: verdana;
  font-size: 20px;
  
}

button {
   color: #fff;
  background-color: #025157;

}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgb(238, 255, 248);
  
}

.header {
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0;
  line-height: 2px;
  font-family: sans-serif;
 
}

.header > * {
  display: revert;
  font-size: 16px;
  vertical-align: bottom;
  height: 100%;
  line-height: 2x;
  }
li {
    display: inline;
    
   
}
.logo {
  width: 15%;
}

.logo > img{
  height: 100%;
  

}


  



main {
  margin-top: 285px;
  text-align: center;
}
.navbar {
  display: inline-block;
  background-color: honeydew;
  text-align:right;
  font-family: sans-serif;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul {
  display: flex;
}


.navbar ul li a {
  display: block;
  border: 300px solid;
  border-radius: .5em;
  padding: .5em 1em;
  margin: 20em;

}

.navbar ul {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 15%;
    text-align: right;
    font-size: 14x;
    
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;

}

.actions a{
    color: rgb(0, 45, 128);
   
}

.futuro {

  font-size: xx-large;
  font-family: sans-serif;
  color: brown;
}



.actions button {
    color: white;
    background-color: grey;
    text-align: center;
    padding-left: 14x;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
  
}

.promo {
  display: flex;
  width: 70%;
  margin: 100px auto;
  align-items: center;


}

.explanatory-video {
display: flex;
flex-direction: column;
align-items: center;
}

.explanatory-video img {
width: 120px;
margin-top: 10px;
}
   

  .publicidad h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
  
  }
  
  .publicidad > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
  
  }
 
  .publicidad > form {
    display: flex;
    
  }
  .publicidad > form p {
    color: #025157;
    margin-right: 18px;
    
  }

  
  
  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }
  .feature-art {
    background-color: lightcyan;
    margin: 10px;
    width: 48%;
    height: 50px;
 }
  
 

    .success-stories {
      background-color: #37ffa1;
      padding: 5% 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }  
    
    .success-stories .overview {
      flex: 2;
      padding-right: 100px;
    }
    
    .success-stories .overview h2 {
      font-family: "Alegreya", serif;
      font-size: 51px;
      line-height: 61px;
      color: #025157;
    }
    
    .success-stories .overview p {
      color: #343434;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    
    .success-stories .overview button {
      font-size: 14px;
      padding: 12px 12px 6px 12px;
      border-radius: 8px;
      height: 45px;
      font-weight: 600;
      margin-left: 0;
    }
    
    .success-stories .overview img {
      width: 500px;
      max-width: 100%;
    }
    
    .success-stories .stories-carousel {
      flex: 1;
    }
    
    .success-stories .stories-carousel .carousel-indicators {
      position: unset;
    }
    
    .success-stories .stories-carousel .card {
      max-width: 370px;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media img {
      width: 100%;
      max-height: 16vw;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media figure {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-media {
      position: relative;
    }
    
    .success-stories .stories-carousel .card .card-media .company {
      position: absolute;
      bottom: -20px;
      right: 20px;
      width: 100px;
      height: 100px;
      background-color: #f9da73;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .success-stories .stories-carousel .card .card-media .company img {
      max-width: 75%;
    }
    
    .success-stories .stories-carousel .card .card-body,
    .success-stories .stories-carousel .card .card-footer {
      padding: 25px;
    }
    
    .success-stories .stories-carousel .card .card-body h4 {
      color: #025157;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }
    
    .success-stories .stories-carousel .card .card-body h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results {
      display: flex;
      align-items: center;
      color: #ffffff;
    }
    
    .success-stories .stories-carousel .card .card-body .results img {
      width: 26px;
      margin-right: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results p {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-footer {
      margin-bottom: 20px;
      background-color: unset;
      border-top: unset;
    }
    
    .success-stories .stories-carousel .card .card-footer button {
      display: block;
      margin-left: 0;
      border-radius: 5px;
      font-size: 13;
      font-weight: 600;
      padding: 12px 20px;
      width: 100%;
    }

    .how-does-it-work {
     
      background-color: #fffbf7;
      padding: 10% 10%;
      text-align: center;
      width: 1000px;
      
    }
    
    .how-does-it-work .title {
      color: #025157;
      font-size: 50px;
      line-height: 60px;
      font-weight: 400;
      font-family: "Alegreya", serif;
      margin-bottom: 8px;
    }
    
    .how-does-it-work .description {
      max-width: 60%;
      color: #46484c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      margin-bottom: 16px;
    }
    
    .how-does-it-work .description a {
      color: #67b54b;
      text-decoration: none;
    }
    
    .how-does-it-work button {
      font-size: 14px;
      font-weight: 600;
      padding-top: 12px 12px 6px 12px;
      height: 45px;
      margin-left: 0;
      border-radius: 8px;
      margin-top: 6px;
    }
    
    .how-does-it-work .steps {
      margin-top: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .how-does-it-work .steps .card-step {
      background-color: #fff;
      border: 1px solid #dadada;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: left;
    }
    
    .how-does-it-work .steps .card-step .card-step-image {
      position: relative;
      height: 350px;
    }
    
    .how-does-it-work .steps .card-step .card-step-image .card-step-icon {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 21px;
    }
    
    .how-does-it-work .steps .card-step .card-step-image .card-step-bg {
      width: 100%;
      height: 100%;
    }
    
    .how-does-it-work .steps .card-step .card-step-body {
      padding: 25px;
    }
    
    .how-does-it-work .steps .card-step .card-step-body h3 {
      font-size: 30px;
      line-height: 36px;
      font-family: "Alegreya", serif;
      color: #025157;
      font-weight: 400;
      text-align: center;
    }
    
    .how-does-it-work .steps .card-step .card-step-body p {
      font-size: 15px;
      line-height: 1.5;
      color: #46484c;
      font-weight: 400;
      height: 85px;
      margin-bottom: 16px;
    }
    
    .how-does-it-work .steps .card-step .card-step-body a {
      font-size: 16px;
      line-height: 1.4;
      color: #67b54b;
      font-weight: 600;
      text-decoration: none;
    }

      /** dispositivos móviles en vista viewport (vertical) */
@media (max-width: 575px) {
    .navbar, .actions {
      display: none;
    }
    main {
      margin-top: 130px;
    }
    h1 {
      font-size: 30px;
    }
    .banner > img {
      width: 100%;
    }  
    .publish > form {
      flex-direction: column;
    }
    
    .publish > form > input {
      width: 90%;
    }
    
    .publish > form > button {
      width: 92%;
    }
    .explanatory-video {
      display: flex;
      max-width: 100%;
      max-height: 100%;
      flex-direction: column;
    }

    .publish {
      margin-top: 10px;
    }
    .publish > h3 {
      font-size: 25px;
      line-height: 1.2;
    }
  
    .features {
      background-color: #025157;
      padding: 5% 10%;
      display: grid;
      grid-template: repeat(2,330x);
    }

    .how-does-it-work .steps {
      
      grid-template: repeat(4/ 1fr)/ 1fr;
      padding-left: 0;
      padding-right: 0;

    }
    
}
  

/** dispositivos pequeños en vista landscape (horizontal) */
@media (min-width: 576px) and (max-width: 767px) {
  .navbar, .actions {
    display: none;
  }
  main {
    margin-top: 130px;
  }
  h1 {
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }  
  .publish > form {
    flex-direction: column;
  }
  
  .publish > form > input {
    width: 90%;
  }
  
  .publish > form > button {
    width: 92%;
  }
  .explanatory-video {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
  }

  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2,330x);
  }

  .how-does-it-work .steps {
    
    grid-template: repeat(4/ 1fr)/ 1fr;
    padding-left: 0;
    padding-right: 0;

  }
  }
/** dispositivos medianos (tablets) */
@media (min-width: 768px) and (max-width: 991px) {
  .navbar, .actions {
    display: none;
  }
  main {
    margin-top: 130px;
  }
  h1 {
    font-size: 30px;
  }
  .banner > img {
    width: 100%;
  }  
  .publish > form {
    flex-direction: column;
  }
  
  .publish > form > input {
    width: 90%;
  }
  
  .publish > form > button {
    width: 92%;
  }
  .explanatory-video {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    flex-direction: column;
  }

  .publish {
    margin-top: 10px;
  }
  .publish > h3 {
    font-size: 25px;
    line-height: 1.2;
  }

  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(4, 330x);
  }

  .how-does-it-work .steps {
    
    grid-template: repeat(4/ 1fr)/ 1fr;
    padding-left: 0;
    padding-right: 0;

  }
}

/** dispositivos grandes (desktops) */
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar, .actions {
    display: inline-block;
  }
  main {
    margin-top: 130px;
  }
    h1 {
      font-size: 30px;
    } 
}

/** dispositivos extra grandes (monitores grandes, tvs) */
@media (min-width: 1200px) {
  .navbar, .actions {
    display: inline-block;
  }
  main {
    margin-top: 130px;
  }
    h1 {
      font-size: 30px;
    } 
}

    @media (max-width: 575px) {
      main {
        margin-top: 130px;
      }

      h1,
  .how-does-it-work .title,
  .blog .title {
    font-size: 30px;
  }
  form.signup-form {
    font-size: 14px;
  }

  form.signup-form input {
    width: 60%;
  }

  form.signup-form button {
    width: 40%;
  }

  .banner > img {
    width: 100%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publicidad {
    margin-top: 10px;
  }

  .publicidad > h3,
  .success-stories > .overview > h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .publicidad > form {
    flex-direction: column;
  }

  .publicidad > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publicidad > form > div > input {
    width: 65%;
  }


      .features {
        padding: 5% 0;
        grid-template: repeat(4, 1fr) / 1fr;
      }
    
      .feature-image {
        display: none;
      }
    
    .success-stories {
      flex-direction: column;
      padding: 5% 15px;
    }
  
    .success-stories > .overview {
      padding-right: unset;
    }
  
    .success-stories .stories-carousel .card {
      min-height: 832px;
    }
  
    .success-stories .stories-carousel .card .card-media img {
      max-height: unset;
    }

    .how-does-it-work {
      padding: 5% 15px;
    }
  
    .how-does-it-work .description {
      max-width: unset;
    }
  
    .how-does-it-work .steps {
      grid-template-columns: 1fr;
    }
  
    .how-does-it-work .steps .card-step {
      margin-left: unset;
      margin-right: unset;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
    }
  
    .how-does-it-work .steps .card-step .card-step-image {
      position: initial;
      height: unset;
    }
  
    .how-does-it-work .steps .card-step .card-step-body h3 {
      text-align: left;
      margin-top: 30px;
    }
  }
