*{
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

body {
  background-color: #cae3eb;
}


.navbar {
  background-color: honeydew;
  text-align:right;
  font-family: sans-serif;
}

.navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navbar ul {
  display: flex;
}


.navbar ul li a {
  display: block;
  border: 300px solid;
  border-radius: .5em;
  padding: .5em 1em;
  margin: 20em;

}

.navbar ul {
  display: flex;
  justify-content: right;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: flex-end;
}

.logo {
   width: min-content;
   height:100%;
  

}


.logo  {
    width: 100px;
    height: 0px;
    padding-right:  100px;
    border: 50px;
    margin: 1%;
    

}

.menu-item {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

.actions {
    width: 70%;
    text-align: right;
    font-size: 16x;
    display: inline;
}

.actions > * {
    margin-right: 10px;
    margin-left: 10px;

}

.actions a{
    color: rgb(0, 45, 128);
    font-size: 50px;
}

.futuro {

  font-size: xx-large;
  font-family: sans-serif;
  color: brown;
}

h1 {
    
    height: 200px;
    padding: 40px;
    border: 5px rgb(0, 118, 197);
    margin: 10px;
    font: size 40px; 
    color: #284070;
}

p {
    color: #f7f7f7fd;
    font-family: verdana;
    
}

button {
    font-size: 20px;
    color: #fff;
    background-color: #025157;
}

.actions button {
    color: white;
    background-color: grey;
    text-align: center;
    padding-left: 24x;
    padding-right: 24px;
    padding-top: 22px;
    padding-bottom: 22px;
    border: 0;
    border-radius: 65px;
    align-items: flex-end;
}
.actions {
   width: 15%;
   text-align: right;
   font-size: 18px;
   font-weight: 600; 
}

.header {
  margin-top: 40px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 0;
  line-height: 45px;
  font-family: sans-serif;
}
li {
    display: inline;
    margin: 2ex;
    border: 2ex;
   
}

.header > * {
  display: inline-block;
  font-size: 36px;
  vertical-align: middle;
  height: 100%;
  line-height: 15px;
  }
    
.artice {
    font-size: 30px;
}


  
  .publicidad h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    margin: 50px;
  }
  
  .publicidad > p {
    font-size: 16px;
    color: #343434;
    line-height: 1.5;
    margin-bottom: 20px;
    margin: 50px;
  }
  
  .publicidad > form {
    display: flex;
  }
  
  .publicidad > form p {
    color: #025157;
    margin-right: 18px;
    margin: 50px;
  }

  
  
  .features {
    background-color: #025157;
    padding: 5% 10%;
    display: grid;
    grid-template: repeat(2, 330px) / repeat(2, 1fr);
  }
  .features .feature-card {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: #fff;
    border: 1px solid #dadada;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .features .feature-card .feature-content {
    padding: 30px 20px 40px 40px;
    flex: 2;
  }
  
  .features .feature-card .feature-content > * {
    margin-bottom: 1rem;
    margin-top: 0;
  }
  
  .features .feature-card .feature-content img {
    width: 50px;
  }
  
  .features .feature-card .feature-content h3 {
    font-size: 24px;
    color: #343434;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content p {
    font-size: 16px;
    color: #7e7e7e;
    font-weight: 400;
  }
  
  .features .feature-card .feature-content a {
    font-size: 16px;
    color: #67b54b;
    font-weight: 600;
    text-decoration: none;
  }
  
  .features .feature-card .feature-image {
    flex: 1;
    width: 40%;
    position: relative;
    right: -50px;
    height: 80%;
  }
  
  .features .feature-card .feature-image figure,
  .features .feature-card .feature-image img {
    margin-top: 0;
    height: 100%;
  }
  .feature-art {
    background-color: lightcyan;
    margin: 10px;
    width: 48%;
    height: 50px;

  
   
    
  
    

   
    
  }
  .promo {
      display: flex;
      width: 70%;
      margin: 100px auto;
      align-items: center;


  }

  .explanatory-video {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .explanatory-video img {
    width: 120px;
    margin-top: 10px;
  }

  .fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fffbf7;
  }

  main {
    margin-top: 885px;
    text-align: center;
  }

 

    .success-stories {
      background-color: #37ffa1;
      padding: 5% 15%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }  
    
    .success-stories .overview {
      flex: 2;
      padding-right: 100px;
    }
    
    .success-stories .overview h2 {
      font-family: "Alegreya", serif;
      font-size: 51px;
      line-height: 61px;
      color: #025157;
    }
    
    .success-stories .overview p {
      color: #343434;
      font-size: 18px;
      line-height: 1.5;
      margin-bottom: 1rem;
    }
    
    .success-stories .overview button {
      font-size: 14px;
      padding: 12px 12px 6px 12px;
      border-radius: 8px;
      height: 45px;
      font-weight: 600;
      margin-left: 0;
    }
    
    .success-stories .overview img {
      width: 500px;
      max-width: 100%;
    }
    
    .success-stories .stories-carousel {
      flex: 1;
    }
    
    .success-stories .stories-carousel .carousel-indicators {
      position: unset;
    }
    
    .success-stories .stories-carousel .card {
      max-width: 370px;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media img {
      width: 100%;
      max-height: 16vw;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
    
    .success-stories .stories-carousel .card .card-media figure {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-media {
      position: relative;
    }
    
    .success-stories .stories-carousel .card .card-media .company {
      position: absolute;
      bottom: -20px;
      right: 20px;
      width: 100px;
      height: 100px;
      background-color: #f9da73;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    .success-stories .stories-carousel .card .card-media .company img {
      max-width: 75%;
    }
    
    .success-stories .stories-carousel .card .card-body,
    .success-stories .stories-carousel .card .card-footer {
      padding: 25px;
    }
    
    .success-stories .stories-carousel .card .card-body h4 {
      color: #025157;
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      margin-bottom: 12px;
    }
    
    .success-stories .stories-carousel .card .card-body h3 {
      font-size: 25px;
      font-weight: 400;
      line-height: 30px;
      margin-bottom: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results {
      display: flex;
      align-items: center;
      color: #ffffff;
    }
    
    .success-stories .stories-carousel .card .card-body .results img {
      width: 26px;
      margin-right: 20px;
    }
    
    .success-stories .stories-carousel .card .card-body .results p {
      margin-top: 0;
    }
    
    .success-stories .stories-carousel .card .card-footer {
      margin-bottom: 20px;
      background-color: unset;
      border-top: unset;
    }
    
    .success-stories .stories-carousel .card .card-footer button {
      display: block;
      margin-left: 0;
      border-radius: 5px;
      font-size: 13;
      font-weight: 600;
      padding: 12px 20px;
      width: 100%;
    }

    .how-does-it-work {
      background-color: #fffbf7;
      padding: 5% 10%;
      text-align: center;
      width: 1000px;
    }
    
    .how-does-it-work .title {
      color: #025157;
      font-size: 50px;
      line-height: 60px;
      font-weight: 400;
      font-family: "Alegreya", serif;
      margin-bottom: 8px;
    }
    
    .how-does-it-work .description {
      max-width: 60%;
      color: #46484c;
      font-size: 18px;
      font-weight: 400;
      line-height: 1.5;
      margin: 0 auto;
      margin-bottom: 16px;
    }
    
    .how-does-it-work .description a {
      color: #67b54b;
      text-decoration: none;
    }
    
    .how-does-it-work button {
      font-size: 14px;
      font-weight: 600;
      padding-top: 12px 12px 6px 12px;
      height: 45px;
      margin-left: 0;
      border-radius: 8px;
      margin-top: 6px;
    }
    
    .how-does-it-work .steps {
      margin-top: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
    .how-does-it-work .steps .card-step {
      background-color: #fff;
      border: 1px solid #dadada;
      border-radius: 5px;
      margin-left: 20px;
      margin-right: 20px;
      text-align: left;
    }
    
    .how-does-it-work .steps .card-step .card-step-image {
      position: relative;
      height: 350px;
    }
    
    .how-does-it-work .steps .card-step .card-step-image .card-step-icon {
      position: absolute;
      top: 25px;
      left: 25px;
      width: 21px;
    }
    
    .how-does-it-work .steps .card-step .card-step-image .card-step-bg {
      width: 100%;
      height: 100%;
    }
    
    .how-does-it-work .steps .card-step .card-step-body {
      padding: 25px;
    }
    
    .how-does-it-work .steps .card-step .card-step-body h3 {
      font-size: 30px;
      line-height: 36px;
      font-family: "Alegreya", serif;
      color: #025157;
      font-weight: 400;
      text-align: center;
    }
    
    .how-does-it-work .steps .card-step .card-step-body p {
      font-size: 15px;
      line-height: 1.5;
      color: #46484c;
      font-weight: 400;
      height: 85px;
      margin-bottom: 16px;
    }
    
    .how-does-it-work .steps .card-step .card-step-body a {
      font-size: 16px;
      line-height: 1.4;
      color: #67b54b;
      font-weight: 600;
      text-decoration: none;
    }

    @media (max-width: 575px) {
      main {
        margin-top: 130px;
      }

      h1,
  .how-does-it-work .title,
  .blog .title {
    font-size: 30px;
  }
  form.signup-form {
    font-size: 14px;
  }

  form.signup-form input {
    width: 60%;
  }

  form.signup-form button {
    width: 40%;
  }

  .banner > img {
    width: 100%;
  }

  .promo {
    flex-direction: column;
    max-width: 90%;
  }

  .explanatory-video > video {
    width: 100%;
  }

  .publicidad {
    margin-top: 10px;
  }

  .publicidad > h3,
  .success-stories > .overview > h2 {
    font-size: 25px;
    line-height: 30px;
  }

  .publicidad > form {
    flex-direction: column;
  }

  .publicidad > form > div {
    height: 50px;
    margin-top: 10px;
  }

  .publicidad > form > div > input {
    width: 65%;
  }


      .features {
        padding: 5% 0;
        grid-template: repeat(4, 1fr) / 1fr;
      }
    
      .feature-image {
        display: none;
      }
    
    .success-stories {
      flex-direction: column;
      padding: 5% 15px;
    }
  
    .success-stories > .overview {
      padding-right: unset;
    }
  
    .success-stories .stories-carousel .card {
      min-height: 832px;
    }
  
    .success-stories .stories-carousel .card .card-media img {
      max-height: unset;
    }

    .how-does-it-work {
      padding: 5% 15px;
    }
  
    .how-does-it-work .description {
      max-width: unset;
    }
  
    .how-does-it-work .steps {
      grid-template-columns: 1fr;
    }
  
    .how-does-it-work .steps .card-step {
      margin-left: unset;
      margin-right: unset;
      margin-bottom: 20px;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      position: relative;
    }
  
    .how-does-it-work .steps .card-step .card-step-image {
      position: initial;
      height: unset;
    }
  
    .how-does-it-work .steps .card-step .card-step-body h3 {
      text-align: left;
      margin-top: 30px;
    }
  }